/* forms page*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;

}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
}

.form{
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #ffff;
}

header{
    font-size: 28px;
    font-weight: 600;
    color:#232836;
    text-align: center;
}
form{
    margin-top:30px;

}
form.field{
    height:45px;
    width: 40vh;
    margin-top: 20px;
}
.field input{
    padding: 0 10px;
    border: 2px solid#cacaca;
}

.field input:hover{
    background-color: white;
}

.eye-icon{
    position: absolute;
    font-size: 15px;
    color:#8bb8;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.field input,
.field  button{
    height: 40px;
    width: 45vh;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 30vh;
    border-radius: 6px;
}
.field button{
    color:#fff;
    background-color: pink;
    transition: all 0.1s ease;
    cursor: pointer;
}

.field button:hover{
      background-color: white;

}
.field input{
    outline: none;
    padding: 0 15px;
}
.form-link{
    text-align: center;
    margin-top: 20px;
}

.form-link span,
.form-link a{
    font-size: 20px;
    font-weight: 30vh;
    color:#232836;
}

.form a{
    color: #0171d3c2;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.form input:focus{
    border-bottom-width: 8px;
}
.line{
    position: relative;
    height: 2px;
    width: 40vh;
    margin-left: 12px;
    margin: 20px;
    background-color: #d4d4d4d4;
}

.line::before{
    content: 'Or';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #FFF;
    color:#232836;
    padding: 0 15px;
}
